body{
    background-image: url(https://i.pinimg.com/originals/b9/1c/78/b91c781e83fb283f0a15c5d20163a0db.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

#Titulo {
    color: aliceblue;
    text-align: center;
}


.body-site{
 height: auto;
}
.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.Box-Cruzadinha {
    height: 350px;
    width: 450px;
    background-color: #a0a2a4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}

.Box-Cruzadinha .quadrante{
    width: 18px;
    height: 18px;
    margin: 1px;
    margin-block-start: 0;
    margin-block-end: 0;
    border: 0;
    background-color: white;
    text-align: center;
    padding-top: 3px;
    border-radius: 5px;
    font-family: 'Cairo', sans-serif;
    font-size: small;
    font-weight: bold;
}

.Box-Cruzadinha .quadrante-off{
    width: 22px;
    height: 22px;
    margin: 1px;
    margin-block-start: 0;
    margin-block-end: 0;
    border: 0;
    background-color: #a0a2a4;


}
.Box-Cruzadinha .quadrante-black{
    width: 22px;
    height: 22px;
    margin: 1px;
    margin-block-start: 0;
    margin-block-end: 0;
    border: 0;
    background-color: #000000;
    border-radius: 5px;

}
.Box-Cruzadinha .linha{
    display: flex;
    margin-top: 1px;
}